.settings/
.project/
.idea/

### SenchaTouch ###
build/
resources/sass/.sass-cache/

### PhoneGap ###
st-res
phonegap/www/
phonegap/platforms/android/assets/
phonegap/platforms/android/gen/
phonegap/platforms/android/bin/